h1{
    color: aliceblue;
    background-color: aliceblue;
    font-size: x-large;
}
button{
    font-size: large;
    color: aliceblue;
    background-color: brown;
}

body{
    background-color: lightsalmon;
    
}


