body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    margin: 50px;
}

#cookie-display {
    font-size: 30px;
    margin-top: 50px;
}

#clicker-display {
    font-size: 20px;
    margin-top: 10px;
}

#clicker-price {
    font-size: 20px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}